h1,h2,h3 {
    color: chocolate;
}

/* Esto es un comentario */
p {
    color: gray;
}

.mandarina {
    color: darkorange;
}

.azul {
    color: blue;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 20px;
}