body {
    font-family: arial;
}

h1,h2,h3 {
    color: chocolate;
}

/* Esto es un comentario */
p {
    color: gray;
}

.mandarina {
    color: darkorange;
}

.azul {
    color: blue;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 10px;
}

strong {
    font-size: 50px;
}